<div class="row">

    <div class="col-md-5 m-5">
        <h1 class="fw-bold">Babacar Ndong</h1>
        <p>Je suis un développeur FULLSTACK, Designer WEB et MOBILE.<br/> J'aime particulièrement le développement mobile.</p>
        <p>Trois choses me définissent:</p>
        <ul>
            <li>Freelance</li>
            <li>Entrepreneur</li>
            <li>Opensource contibutor</li>
        </ul>
        <br/>
        <a class="btn btn-warning btn-lg" href="mailTo:ndongbabacar100@gmail.com">Contacter moi</a>
    </div>

    <div class="col-md-6 bg-warning">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque incidunt commodi repudiandae nihil, nisi ipsum fuga laborum? Quidem fugiat iure nobis illum placeat temporibus voluptates harum porro amet, cum earum!</p>
    </div>

</div>