<div class="row bg-light">    

    <div class="col-md-3 p-4 bg-warning">
        <h2 id="projets" class="fw-bold">Réalisation</h2>
        <div class="row">
            <p>Voici quelqu'un de mes plus grandes réalisations.</p>
        </div>
    </div>

    <div class="col-md-9">
        <div class="row">
            <div class="col-md-3">
                <img src="" alt="">
                <h3 class="fw-bold">L'étudiant</h3>
                <p>Application pour faciliter l'intégration sociale des étudiants de l'Université Cheikh Anta Diop de Dakar.</p>
                <button class="btn btn-outline-warning">Détails</button>
            </div>
            <!-- <div class="col-md-3">
                <img src="" alt="">
                <h3 class="fw-bold">JIFAA</h3>
                <p>Application mise en place pour numériser l'achat de tickets de réstaurant dans les universités.</p>
                <button class="btn btn-outline-warning">Détails</button>
            </div> -->
            <div class="col-md-3">
                <img src="" alt="">
                <h3 class="fw-bold">Babstrap</h3>
                <p>Package Flutter, qui aide les développeurs à faire de joli écrant facilement et très rapidement.</p>
                <a href="https://pub.dev/packages/babstrap_settings_screen" target="_black" class="btn btn-outline-warning">Détails</a>
            </div>
            <div class="col-md-3">
                <img src="" alt="">
                <h3 class="fw-bold">Zéro cas</h3>
                <p>Application développée pour contribuer à l'éffort incessant de lutte contre le virus Corona.</p>
                <a href="" class="btn btn-outline-warning">Détails</a>
            </div>
            <div class="col-md-3">
                <img src="" alt="">
                <h3 class="fw-bold">Music 5</h3>
                <p>Application mobile permettant d'écouter toutes les musiques disponible sur le site de streaming <a href="">Deezer</a>.</p>
                <button class="btn btn-outline-warning">Détails</button>
            </div>
        </div>
    </div>
</div>