<div class="row bg-light p-5">

    <!-- Github -->
    <div class="col-md-1">
        <a href="https://github.com/Babacar-arch" target="_black" class="nav-link"><i class="fab fa-github fa-3x"></i></a>
    </div>

    <!-- Google play KO -->
    <div class="col-md-1">
        <a href="" class="nav-link"> <i class="fab fa-google-play fa-3x"></i></a>
    </div>

    <!-- Dribbble -->
    <div class="col-md-1">
        <a href="https://dribbble.com/Bab4car" target="_black" class="nav-link fw-bold strong"><i class="fab fa-dribbble fa-3x"></i></a>
    </div>

    <!-- Pub.dev -->
    <div class="col-md-1">
        <a href="https://pub.dev/packages/babstrap_settings_screen" target="_black" class="nav-link fw-bold strong">PUB DEV</a>
    </div>

    <!-- LinkedIn -->
    <div class="col-md-1">
        <a href="https://www.linkedin.com/in/babacar-ndong-757a271b3" target="_black" class="nav-link"><i class="fab fa-linkedin-in fa-3x"></i></a>
    </div>

    <!-- Twitter -->
    <div class="col-md-1">
        <a href="https://twitter.com/ndongbabacar100" target="_black" class="nav-link"><i class="fab fa-twitter fa-3x"> </i></a>
    </div>

    <!-- Instagram -->
    <div class="col-md-1">
        <a href="https://www.instagram.com/babacarndong8" target="_black" class="nav-link"><i class="fab fa-instagram fa-3x"></i> </a>
    </div>
</div>